.ToDoObj {
  padding: 15px;
  width: 600px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: right;
  border-bottom: 1px solid var(--border-color);
}

.delButton {
  height: 30px;
  border-radius: 4px;
  width: 30px;
  border: none;
  background-color: rgb(99, 7, 30);
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-right: 5px;
}

.renameButton {
  height: 30px;
  border-radius: 4px;
  width: 30px;
  border: none;
  background-color: var(--purple);
  color: white;
  font-size: 15px;
  cursor: pointer;
  padding-right: 10px;
  display: flex;
  justify-content: center;
}

.p {
  width: 540px;
  text-align: right;
  margin-right: 10px;
}

.renameinpt {
  width: 400px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  height: 30px;
  border-radius: 4px;
  outline: none;
  margin-right: 20px;
  margin-left: 100px;
  margin-top: 7px;
  margin-bottom: 6px;
  padding-left: 20px;
  color: var(--text-color);
}

.del {
  width: 540px;
  text-align: right;
  margin-right: 10px;
  color: var(--purple);
  margin-top: 15px;
  margin-bottom: 15px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none; /* для Safari */
  width: 15px;
  height: 15px;
  border: 1px solid var(--purple);
  border-radius: 1px;
  background: var(--bg-color);
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background: var(--purple);
  border-color: var(--purple);
  position: relative;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  font-size: 14px;
  position: absolute;
  left: 1px;
  top: -3px;
}

.renameButtonImg {
  margin-left: 5px;

  width: 21px;
}

.delButtonImg {
  margin-top: 2px;
  width: 21px;
  margin-left: -2px;
}

@media screen and (max-width: 600px) {
  .ToDoObj {
    width: 400px;
  }

  .p {
    width: 400px;
  }
  .del {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .ToDoObj {
    width: 300px;
  }

  .p {
    width: 201px;
  }
  .del {
    width: 201;
  }
}

@media screen and (max-height: 680px) {
  .ToDoObj {
    height: 30px;
  }
}
