.pageButton {
  border: none;
  background-color: var(--purple);
  cursor: pointer;
  font-size: 17px;
  border-radius: 4px;
  color: white;
  height: 30px;
  width: 30px;
}
.pagesArr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.pageButtonactive {
  border: none;
  background-color: var(--purple);
  cursor: pointer;
  font-size: 17px;
  border-radius: 4px;
  color: white;
  height: 32px;
  width: 32px;
  text-decoration: underline;
}
