.pageButton {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 4px;
  color: black;
  height: 30px;
  width: 30px;
}

.pageButton:hover {
  border: none;
  background-color: var(--purple);
  cursor: pointer;
  font-size: 17px;
  border-radius: 4px;
  color: white;
  height: 30px;
  width: 30px;
  opacity: 0.9;
}

.pagesArr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.pageButtonactive {
  border: none;
  background-color: var(--purple);
  cursor: pointer;
  font-size: 17px;
  border-radius: 4px;
  color: white;
  height: 30px;
  width: 30px;
  opacity: 0.9;
}
