.ToDoAdd {
  background-color: var(--bg-color);
  margin-top: -50px;
  box-shadow: var(--box-shadow);
  height: 70px;
  width: 600px;
  border-radius: 4px;
  padding: 15px;
}

.ToDoAddP {
  margin: 0px;
  font-weight: bold;
}

.InputDiv {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.TextInput {
  width: 500px;
  border: 1px solid var(--border-color);
  height: 31px;
  border-radius: 4px;
  outline: none;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.AddButton {
  height: 35px;
  border-radius: 4px;
  width: 80px;
  border: none;
  background-color: var(--purple);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: all 150ms;
}

.AddButton:active {
  opacity: 0.9;
  height: 34px;
}
