.PointButton {
  height: 30px;
  border-radius: 4px;
  width: 65px;
  border: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 17px;
  cursor: pointer;
  transition: all 100ms;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 2px;
}

.PointButton:active {
  opacity: 0.9;
}

.PointButton:hover {
  height: 30px;
  border-radius: 4px;
  width: 65px;
  border: none;
  background-color: var(--purple);
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: all 100ms;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 2px;
}

.PointButtonDiv {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 645px;
}

.Botline {
  margin-top: 1px;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 4px;
}
