:root {
  --purple: #5d189e;
  --box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.322);
  --bg-color: #ffffff;
  --text-color: #010409;
  --border-color: rgba(0, 0, 0, 0.151);
}

[data-theme="dark"] {
  --purple: #0a453b;
  --box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.322);
  --bg-color: #010409;
  --text-color: #ffffff;
  --border-color: rgba(255, 255, 255, 0.151);
}

html[data-theme="dark"] {
  background-color: var(--bg-color);
}

.body {
  margin: 0px;
  font-family: Arial;
  font-size: 15px;
  font-weight: 300;
}

.MainPage {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
}

.PurpLine {
  display: block;
  background-color: var(--purple);
  height: 165px;
  top: 0px;
  left: 0px;
  right: 0px;
}
